html {
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  margin: $baseline 0;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  background: $background;
  color: $color;
}

a {
  &:link {
    color: $links;
    text-decoration: none;
  }

  &:hover {
    color: $hover-links;
  }

  &:visited {
    color: $visited-links;
  }
}

h2,
h3,
h4 {
  .anchor {
    visibility: hidden;
    text-decoration: none;
    cursor: pointer;
    line-height: 1;
    color: $color;
  }

  &:hover {
    .anchor {
      visibility: visible;
      animation: fade-in 0.3s ease-in-out;
      // font-family: "FabricMDL2Icons";
    }
  }
}

table td,
table th {
  border: 1px solid $color;
}

pre {
  margin: $baseline 0;
  border-radius: 4px;
  padding: $baseline;
  overflow: auto;
  position: relative;

  code {
    background: transparent;

    &::after {
      content: attr(data-lang);
      font-style: italic;
      line-height: 1;
      opacity: 0.3;
      position: absolute;
      bottom: $baseline;
      right: $baseline;
      z-index: 1;
    }
  }
}

code {
  font: $code_font;
}

pre:hover .copy-code-button {
  display: block;
}

nav {
  position: sticky;
  height: 92vh;
  top: $baseline;
  left: $baseline;
  bottom: $baseline;
  padding-right: $baseline;
  width: 20rem;

  img {
    width: 128px;
  }

  h1 {
    margin: 0;
    line-height: 1;
  }
}

main {
  display: flex;
  flex-flow: row nowrap;
  animation: fade-in 0.4s ease-in-out;
}

nav label {
  display: block;
}

article {
  width: calc(100% - (#{$baseline} * 4 + 20rem));
  margin-left: calc(#{$baseline} * 2);

  img {
    max-width: 100%;
  }
}

blockquote {
  border-left: $quote-border;
  margin: 0;
  background-color: $quote-bg;
  padding: 0 20px;
}

@media screen and (max-width: 1023px) {
  main {
    flex-flow: column nowrap;
    width: 100%;
  }

  nav {
    position: inherit;
    height: auto;
    margin: $baseline $baseline 0 $baseline;
  }

  article {
    width: calc(100% - (#{$baseline} * 2));
    margin: 0 $baseline;
    z-index: 1;
  }

  #mobile {
    cursor: pointer;
    font-size: $baseline;
    margin: 0 $baseline 0 0;
    display: block;
    color: $color;
  }

  #trees {
    display: none;
    position: absolute;
    background: $background;
    height: auto;
    width: 100vw;
    z-index: 10;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  }

  #on_right {
    margin-top: $baseline;
  }
}
