// Write your custom CSS here

.navigated {
  display: inline-block;
  max-width: 300px;
  margin: 0 auto;
  width: 20%;
}

.articled {
  display: inline-block;
  max-width: 800px;
  margin: 0 auto;
  width: 80%;
}

.mained {
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
}
