$baseline: 1.5rem;

$background:#f9f9f9;
$color:#222;

$links: #00f;
$hover-links:#c00;
$visited-links:#009;

$font-size: 1.125rem;
$font-family: Segoe UI,system-ui,-apple-system,sans-serif;
$line-height: 1.75;
$code_font: 400 1.125rem/1.75 SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;

$quote-bg: #dcdcdc;
$quote-border: #808080 8px solid;
$quote-alert-note-color: #1863b6;
$quote-alert-tip-color: #10712b;
$quote-alert-important-color: #7544d0;
$quote-alert-warning-color: #915f00;
$quote-alert-caution-color: #bf1626;
